<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670398252774-lept8pbppquofc5i7h7749322n6ne57l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670398252774-lept8pbppquofc5i7h7749322n6ne57l</string>
	<key>API_KEY</key>
	<string>AIzaSyBme_n23NnqYVLRvceWcGSLtOeedpD9M94</string>
	<key>GCM_SENDER_ID</key>
	<string>670398252774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fatih.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-6450e</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-6450e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670398252774:ios:6f2d5f50d78f297dbc9d27</string>
</dict>
</plist>